<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Templates</title>
</head>
<body>
    <div class="header1"><h1>Templates</h1></div>
    <div class="conatainer ">
        <div class="templ1 img1"><a href="#" class="button flexFont">View more..</a></div>
        <div class="templ1 img2"><a href="#" class="button flexFont">View more..</a></div>
        <div class="templ1 img3"><a href="#" class="button flexFont">View more..</a></div><br>
        <div class="templ1 img4"><a href="#" class="button flexFont">View more..</a></div>
        <div class="templ1 img5"><a href="#" class="button flexFont">View more..</a></div>
        <div class="templ1 img6"><a href="#" class="button flexFont">View more..</a></div>
    </div>
    <script>
    </script>
</body>
</html>